<a href="https://colab.research.google.com/github/SanudaTharin/MoviePredictions/blob/main/IMdB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('IMdB_India_Top250.csv')
df.head()

,Movie name,Year of release,Watch hour,Rating,Ratedby,Film Industry,Genre,Director,Box office collection,User reviews,Awards,Description,Streaming platform
0,12th Fail,2023,2 hours 27 minutes,8.9,126K,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"$138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV
1,Gol Maal,1979,2 hours,8.5,20K,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5"
2,Maharaja,2024,2 hours 30 minutes,8.6,37K,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,"$975,543.00",370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix
3,Nayakan,1987,2 hours 25 minutes,8.7,25K,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,"$120,481.93",237,7 wins & 1 nomination,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube"
4,The World of Apu,1959,1 hour 45 minutes,8.4,17K,Bengali Cinema,Drama,Satyajit Ray,"$134,241.00",62,4 wins & 2 nominations total,This final installment in Satyajit Ray's Apu T...,"Amazon Prime Video, Hoichoi"

In [ ]:
df.shape

(250, 13)

In [ ]:
df.isna().sum()

Movie name               0
Year of release          0
Watch  hour              0
Rating                   0
Ratedby                  0
Film Industry            0
Genre                    0
Director                 0
Box office collection    0
User reviews             0
Awards                   0
Description              0
Streaming platform       0
dtype: int64

In [ ]:
duplicates = df.duplicated(keep=False)
dup_rows = df[duplicates]

print(dup_rows)

Empty DataFrame
Columns: [Movie name, Year of release, Watch  hour , Rating, Ratedby, Film Industry, Genre, Director, Box office collection, User reviews, Awards, Description, Streaming platform]
Index: []

In [ ]:
df.replace('NIL',np.nan, inplace=True)

In [ ]:
df.isna().sum()

Movie name               0
Year of release          0
Watch  hour              0
Rating                   0
Ratedby                  0
Film Industry            0
Genre                    0
Director                 0
Box office collection    0
User reviews             0
Awards                   9
Description              0
Streaming platform       0
dtype: int64

In [ ]:
df.head()

,Movie name,Year of release,Watch hour,Rating,Ratedby,Film Industry,Genre,Director,Box office collection,User reviews,Awards,Description,Streaming platform
0,12th Fail,2023,2 hours 27 minutes,8.9,126K,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"$138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV
1,Gol Maal,1979,2 hours,8.5,20K,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5"
2,Maharaja,2024,2 hours 30 minutes,8.6,37K,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,"$975,543.00",370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix
3,Nayakan,1987,2 hours 25 minutes,8.7,25K,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,"$120,481.93",237,7 wins & 1 nomination,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube"
4,The World of Apu,1959,1 hour 45 minutes,8.4,17K,Bengali Cinema,Drama,Satyajit Ray,"$134,241.00",62,4 wins & 2 nominations total,This final installment in Satyajit Ray's Apu T...,"Amazon Prime Video, Hoichoi"

In [ ]:
df['Box office collection'] = df['Box office collection'].astype(str)
df.replace('NIL',np.nan,inplace=True)
df.isna().sum()

Movie name               0
Year of release          0
Watch  hour              0
Rating                   0
Ratedby                  0
Film Industry            0
Genre                    0
Director                 0
Box office collection    0
User reviews             0
Awards                   9
Description              0
Streaming platform       0
dtype: int64

In [ ]:
df.dtypes

Movie name                object
Year of release            int64
Watch  hour               object
Rating                   float64
Ratedby                   object
Film Industry             object
Genre                     object
Director                  object
Box office collection     object
User reviews               int64
Awards                    object
Description               object
Streaming platform        object
dtype: object

In [ ]:
df.replace('$','',inplace=True)

In [ ]:
df

,Movie name,Year of release,Watch hour,Rating,Ratedby,Film Industry,Genre,Director,Box office collection,User reviews,Awards,Description,Streaming platform
0,12th Fail,2023,2 hours 27 minutes,8.9,126K,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"$138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV
1,Gol Maal,1979,2 hours,8.5,20K,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5"
2,Maharaja,2024,2 hours 30 minutes,8.6,37K,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,"$975,543.00",370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix
3,Nayakan,1987,2 hours 25 minutes,8.7,25K,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,"$120,481.93",237,7 wins & 1 nomination,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube"
4,The World of Apu,1959,1 hour 45 minutes,8.4,17K,Bengali Cinema,Drama,Satyajit Ray,"$134,241.00",62,4 wins & 2 nominations total,This final installment in Satyajit Ray's Apu T...,"Amazon Prime Video, Hoichoi"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. India,1987,2 hours 59 minutes,7.7,17K,Bollywood (Hindi),"Action, Sci-Fi, Family",Shekhar Kapur,NIL,25,1 win,A poor but big-hearted man takes orphans into ...,"Zee5, Amazon Prime Video"
246,Hazaaron Khwaishein Aisi,2003,2 hours,7.9,5.3K,Bollywood (Hindi),"Political Drama, Romance",Sudhir Mishra,NIL,44,8 wins & 9 nominations,"Set in the backdrop of Indian Emergency 1975, ...",Amazon Prime Video
247,Ghilli,2004,2 hours 40 minutes,8.1,17K,Kollywood (Tamil),"Action, Drama",Dharani,"$163,961.00",47,2 wins & 2 nominations,"Velu, an aspiring kabaddi player, goes to Madu...",Disney+ Hotstar
248,Mukundan Unni Associates,2022,2 hours 8 minutes,7.9,6.2K,Mollywood (Malayalam),"Satire, Drama",Abhinav Sunder Nayak,"$44,990.00",62,1 win,"Advocate Mukundan Unni, played by Vineeth Sree...",Disney+ Hotstar
249,Happy Days,2007,2 hours 33 minutes,7.9,6.3K,Tollywood (Telugu),"Drama, Romance, Comedy",Sekhar Kammula,"$361,445.78",16,7 wins,A group of eight youngsters from an engineerin...,Amazon Prime Video

In [ ]:
df['Box office collection'] = df['Box office collection'].str.replace('$','')
df['Ratedby'] = df['Ratedby'].str.replace('K','')
df['Box office collection'] = df['Box office collection'].replace('NIL',np.nan)

In [ ]:
df

,Movie name,Year of release,Watch hour,Rating,Ratedby,Film Industry,Genre,Director,Box office collection,User reviews,Awards,Description,Streaming platform
0,12th Fail,2023,2 hours 27 minutes,8.9,126,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV
1,Gol Maal,1979,2 hours,8.5,20,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5"
2,Maharaja,2024,2 hours 30 minutes,8.6,37,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,"975,543.00",370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix
3,Nayakan,1987,2 hours 25 minutes,8.7,25,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,"120,481.93",237,7 wins & 1 nomination,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube"
4,The World of Apu,1959,1 hour 45 minutes,8.4,17,Bengali Cinema,Drama,Satyajit Ray,"134,241.00",62,4 wins & 2 nominations total,This final installment in Satyajit Ray's Apu T...,"Amazon Prime Video, Hoichoi"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. India,1987,2 hours 59 minutes,7.7,17,Bollywood (Hindi),"Action, Sci-Fi, Family",Shekhar Kapur,NIL,25,1 win,A poor but big-hearted man takes orphans into ...,"Zee5, Amazon Prime Video"
246,Hazaaron Khwaishein Aisi,2003,2 hours,7.9,5.3,Bollywood (Hindi),"Political Drama, Romance",Sudhir Mishra,NIL,44,8 wins & 9 nominations,"Set in the backdrop of Indian Emergency 1975, ...",Amazon Prime Video
247,Ghilli,2004,2 hours 40 minutes,8.1,17,Kollywood (Tamil),"Action, Drama",Dharani,"163,961.00",47,2 wins & 2 nominations,"Velu, an aspiring kabaddi player, goes to Madu...",Disney+ Hotstar
248,Mukundan Unni Associates,2022,2 hours 8 minutes,7.9,6.2,Mollywood (Malayalam),"Satire, Drama",Abhinav Sunder Nayak,"44,990.00",62,1 win,"Advocate Mukundan Unni, played by Vineeth Sree...",Disney+ Hotstar
249,Happy Days,2007,2 hours 33 minutes,7.9,6.3,Tollywood (Telugu),"Drama, Romance, Comedy",Sekhar Kammula,"361,445.78",16,7 wins,A group of eight youngsters from an engineerin...,Amazon Prime Video

In [ ]:
import re

def convert_to_float(duration):
  hours = re.search(r'(\d+)\s*hour',duration)
  minutes = re.search(r'(\d+)\s*minute',duration)

  hours = int(hours.group(1)) if hours else 0
  minutes = int(minutes.group(1)) if minutes else 0

  total_duration = hours + minutes/60
  return total_duration

df['Watch  hour '] = df['Watch  hour '].apply(convert_to_float)

df

,Movie name,Year of release,Watch hour,Rating,Ratedby,Film Industry,Genre,Director,Box office collection,User reviews,Awards,Description,Streaming platform
0,12th Fail,2023,2.450000,8.9,126,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV
1,Gol Maal,1979,2.000000,8.5,20,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5"
2,Maharaja,2024,2.500000,8.6,37,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,"975,543.00",370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix
3,Nayakan,1987,2.416667,8.7,25,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,"120,481.93",237,7 wins & 1 nomination,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube"
4,The World of Apu,1959,1.750000,8.4,17,Bengali Cinema,Drama,Satyajit Ray,"134,241.00",62,4 wins & 2 nominations total,This final installment in Satyajit Ray's Apu T...,"Amazon Prime Video, Hoichoi"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. India,1987,2.983333,7.7,17,Bollywood (Hindi),"Action, Sci-Fi, Family",Shekhar Kapur,NIL,25,1 win,A poor but big-hearted man takes orphans into ...,"Zee5, Amazon Prime Video"
246,Hazaaron Khwaishein Aisi,2003,2.000000,7.9,5.3,Bollywood (Hindi),"Political Drama, Romance",Sudhir Mishra,NIL,44,8 wins & 9 nominations,"Set in the backdrop of Indian Emergency 1975, ...",Amazon Prime Video
247,Ghilli,2004,2.666667,8.1,17,Kollywood (Tamil),"Action, Drama",Dharani,"163,961.00",47,2 wins & 2 nominations,"Velu, an aspiring kabaddi player, goes to Madu...",Disney+ Hotstar
248,Mukundan Unni Associates,2022,2.133333,7.9,6.2,Mollywood (Malayalam),"Satire, Drama",Abhinav Sunder Nayak,"44,990.00",62,1 win,"Advocate Mukundan Unni, played by Vineeth Sree...",Disney+ Hotstar
249,Happy Days,2007,2.550000,7.9,6.3,Tollywood (Telugu),"Drama, Romance, Comedy",Sekhar Kammula,"361,445.78",16,7 wins,A group of eight youngsters from an engineerin...,Amazon Prime Video

In [ ]:
df['Box office collection'] = df['Box office collection'].replace('NIL', np.NaN)

In [ ]:
df

,Movie name,Year of release,Watch hour,Rating,Ratedby,Film Industry,Genre,Director,Box office collection,User reviews,Awards,Description,Streaming platform
0,12th Fail,2023,2.450000,8.9,126,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV
1,Gol Maal,1979,2.000000,8.5,20,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5"
2,Maharaja,2024,2.500000,8.6,37,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,"975,543.00",370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix
3,Nayakan,1987,2.416667,8.7,25,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,"120,481.93",237,7 wins & 1 nomination,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube"
4,The World of Apu,1959,1.750000,8.4,17,Bengali Cinema,Drama,Satyajit Ray,"134,241.00",62,4 wins & 2 nominations total,This final installment in Satyajit Ray's Apu T...,"Amazon Prime Video, Hoichoi"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. India,1987,2.983333,7.7,17,Bollywood (Hindi),"Action, Sci-Fi, Family",Shekhar Kapur,NIL,25,1 win,A poor but big-hearted man takes orphans into ...,"Zee5, Amazon Prime Video"
246,Hazaaron Khwaishein Aisi,2003,2.000000,7.9,5.3,Bollywood (Hindi),"Political Drama, Romance",Sudhir Mishra,NIL,44,8 wins & 9 nominations,"Set in the backdrop of Indian Emergency 1975, ...",Amazon Prime Video
247,Ghilli,2004,2.666667,8.1,17,Kollywood (Tamil),"Action, Drama",Dharani,"163,961.00",47,2 wins & 2 nominations,"Velu, an aspiring kabaddi player, goes to Madu...",Disney+ Hotstar
248,Mukundan Unni Associates,2022,2.133333,7.9,6.2,Mollywood (Malayalam),"Satire, Drama",Abhinav Sunder Nayak,"44,990.00",62,1 win,"Advocate Mukundan Unni, played by Vineeth Sree...",Disney+ Hotstar
249,Happy Days,2007,2.550000,7.9,6.3,Tollywood (Telugu),"Drama, Romance, Comedy",Sekhar Kammula,"361,445.78",16,7 wins,A group of eight youngsters from an engineerin...,Amazon Prime Video

In [ ]:
df.dtypes

Movie name                object
Year of release            int64
Watch  hour              float64
Rating                   float64
Ratedby                   object
Film Industry             object
Genre                     object
Director                  object
Box office collection     object
User reviews               int64
Awards                    object
Description               object
Streaming platform        object
dtype: object

In [ ]:
df.isna().sum

<bound method DataFrame.sum of      Movie name  Year of release  Watch  hour   Rating  Ratedby  \
0         False            False         False   False    False
1         False            False         False   False    False
2         False            False         False   False    False
3         False            False         False   False    False
4         False            False         False   False    False
..          ...              ...           ...     ...      ...
245       False            False         False   False    False
246       False            False         False   False    False
247       False            False         False   False    False
248       False            False         False   False    False
249       False            False         False   False    False

     Film Industry  Genre  Director  Box office collection  User reviews  \
0            False  False     False                  False         False
1            False  False     False                  False         False
2            False  False     False                  False         False
3            False  False     False                  False         False
4            False  False     False                  False         False
..             ...    ...       ...                    ...           ...
245          False  False     False                  False         False
246          False  False     False                  False         False
247          False  False     False                  False         False
248          False  False     False                  False         False
249          False  False     False                  False         False

     Awards  Description  Streaming platform
0     False        False               False
1     False        False               False
2     False        False               False
3     False        False               False
4     False        False               False
..      ...          ...                 ...
245   False        False               False
246   False        False               False
247   False        False               False
248   False        False               False
249   False        False               False

[250 rows x 13 columns]>